<div id="form-div">
	<form id="form-main" action="http://getsimpleform.com/messages?form_api_token=e019e7ff313d71d8f33dc3ba00706187" method="post">
    <input name="content" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input name" placeholder="Name" id="name" />
    <input name="content" type="text" class="validate[required,custom[email]] feedback-input email" id="email" placeholder="Email" />
    <textarea name="message" class="validate[required,length[6,300]] feedback-input text" id="comment" placeholder="Comment"></textarea>
  	<label for="file"><img src="images/paperclip.png">Attachment</label>
  	<br>
  	<input name="file" type="file" />
    <div class="submit">
      <input type="submit" value="Send" id="button-blue"/>
      <div class="ease"></div>
    </div>
  </form>
</div>