<div id="about">
  <div class="col-md-6 col-md-offset-1">
    <h2>About Me</h2>
    <div class="text-bckgrnd">
      <p>Hello and welcome to my site! I know your time is important so I will keep my introduction brief. I started my career in the Detroit auto industry where I worked for top brands such as General Motors, Saturn and Toyota as an engineering technician and project manager performing product testing. There I learned important lessons about balancing getting things done with improving how things get done.</p>
      <p>Yearning for a new direction I traded my Mac toolbox for a MacBook and moved to New York. While the tools may be different the approach hasn't really changed. Clear communication and cutting through symptoms to get to root problems still pave the way to the answers. When I'm not pounding at the keys I like to cook, play strategy and word-related board games or just hang out with friends and family.</p>
    </div>
  </div>
  <div id="slider">
    <figure id="slide-box">
      <img src="images/profile_pic.jpg">
      <img src="images/pensive.jpg">
      <img src="images/diligent.jpg">
      <img src="images/profile_pic.jpg">
    </figure>
  </div>
</div>

