<div class="container">
	<div id="resume-share">
			<div id="slideout_inner">
				<h4 id="tab">Print & Share</h4>
				<a target="_blank" class="resume-button" href="https://drive.google.com/file/d/0B8lkBidPo6XvdzZVN0V3Nm5qUVU/edit?usp=sharing">Print PDF<img class="social-icon" src="images/acrobat_pdf.png" ></a>
				<a target="_blank" class="resume-button" href="https://www.linkedin.com/shareArticle?mini=true&url=http://bit.ly/OLzeds&title=&summary=&source=">Share on<img class="social-icon" src="images/linkedin_icon.png"></a>
				<a target="_blank" class="resume-button" href="https://twitter.com/home?status=http://bit.ly/OLzeds">Share on<img class="social-icon" src="images/twitter_icon.png"></a>
			</div>
	</div>
	<img class="col-md-8 col-md-offset-2" id="resume" src="images/dev_resume_landscapev2.jpg">
</div>