<div id="my-work" class="container">
<div class="work-box text-bckgrnd">
	<div class="work-slider">
		<h3>Know Thy Selfie</h3>
		<figure class="slide-box">
			<a href="http://knowthyselfie.com/" ><img src="images/frame_shot.jpg"></a>
			<a href="http://knowthyselfie.com/" ><img src="images/animating.jpg"></a>
			<a href="http://knowthyselfie.com/" ><img src="images/photo_complete.jpg"></a>
			<a href="http://knowthyselfie.com/" ><img src="images/analysis.jpg"></a>
			<a href="http://knowthyselfie.com/" ><img src="images/frame_shot.jpg"></a>
		</figure>
	</div>
	<p>Inspired by regional selfie characteristics as demonstrated by <a href="http://www.selfiecity.net/selfiexploratory/?&">SelfieCity</a>. Know Thy Selfie, built on Rails & Backbone, uses client side Javascript to grab a device's camera. A taken photo is then animated from a Polaroid camera to appear as if it were 'printed' & 'developed'. It is then stored on Amazon S3, analyzed by a facial recognition API & has a corresponding "Sharpie" comment appended before being displayed. Checkout the code on <a href="https://github.com/sergethompson/Know-Thy-Selfie">Github!</a></p>
</div>
<div class="work-box text-bckgrnd">
	<div class="work-slider">
		<h3>Balderdash</h3>
		<figure class="slide-box">
			<a href="http://balderdash.herokuapp.com/" ><img src="images/landing.png"></a>
			<a href="http://balderdash.herokuapp.com/" ><img src="images/submit.png"></a>
			<a href="http://balderdash.herokuapp.com/" ><img src="images/guess.png"></a>
			<a href="http://balderdash.herokuapp.com/" ><img src="images/score.png"></a>
			<a href="http://balderdash.herokuapp.com/" ><img src="images/landing.png"></a>
		</figure>
	</div>
	<p>A real time multi player game where players are presented with an obscure word. Players then create fraudulent definitions, we mix in the correct one, and everyone votes on which is the real one. Ajax requests are used to continually check the game state for all player views and synchronize the views once all definitions or guesses have been submitted. Check out the code on <a href="https://github.com/estreske/Balderdash">Github</a>!
	</p>
</div>